[submodule "weather/meteo"]
	path = weather/meteo
	url = https://github.com/victrme/racle-meteo

[submodule "services/src/suggestions"]
	path = services/src/suggestions
	url = https://github.com/victrme/search-suggestions

[submodule "services/src/favicon"]
	path = services/src/favicon
	url = https://github.com/victrme/favicon-fetcher

[submodule "services/src/quotes"]
	path = services/src/quotes
	url = https://github.com/victrme/i18n-quotes
